// Primary Colors

$color-Dark-cyan: hsl(185, 75%, 39%);
$color-Very-dark-desaturated-blue: hsl(229, 23%, 23%);
$color-Dark-grayish-blue: hsl(227, 10%, 46%);

// Neutral Colors

$color-Dark-gray: hsl(0, 0%, 59%);